<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Georgetown CCPE Team 1 (Data Analytics)</title>
        {% endif %}
    </head>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static',filename='js/d3-cloud-master/d3.layout.cloud.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='force.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='base.css') }}"/>
    <body>

    <div style="height:92px; width:100%; top:0;">
        <center><h1><font color="blue">Georgetown CCPE Team 1 (Data Analytics)</font></h1></center>
    </div>
    <div style="width:18%; height:2000px; float:left;">
        <hr>
        {% block content %}
        {% endblock %}
    </div>
    <div id="chart" style="width:82%; height:2000px; float:left; overflow:auto;">
    </div>

    <div style="width:30%; float:left; overflow:auto; height:500px;">
        <hr>
        <h2><font color="red">Graph Centrality Measures</font></h2>
        <br><br>
        <hr>
        <h3><font color="blue">Degree Centrality</font></h3>
        <ol>
        {% for items in degree_centrality %}
        <li><b>{{ items[1] }}</b> :&nbsp; {{ items[2] }}</li>
        {% endfor %}
        </ol>

        <h3><font color="blue">Betweenness Centrality</font></h3>
        <ol>
        {% for items in betweenness_centrality %}
        <li><b>{{ items[1] }}</b> :&nbsp; {{ items[2] }}</li>
        {% endfor %}
        </ol>

        <h3><font color="blue">Closeness Centrality</font></h3>
        <ol>
        {% for items in closeness_centrality %}
        <li><b>{{ items[1] }}</b> :&nbsp; {{ items[2] }}</li>
        {% endfor %}
        </ol>

        <h3><font color="blue">Eigenvector Centrality</font></h3>
        <ol>
        {% for items in eigenvector_centrality %}
        <li><b>{{ items[1] }}</b> :&nbsp; {{ items[2] }}</li>
        {% endfor %}
        </ol>

        <h3><font color="blue">Katz Centrality</font></h3>
        <ol>
        {% for items in katz_centrality %}
        <li><b>{{ items[1] }}</b> :&nbsp; {{ items[2] }}</li>
        {% endfor %}
        </ol>
    </div>

    <div style="width:70%; float:left; overflow:auto; height:500px;">
        <table border="1" style="width: 100%;">
          <tr valign="top" colspan="2">

              <td><h1>Graph Statistics</h1></td>
          </tr>
          {% for k,v in graph_stats.iteritems() %}
          <tr valign="top">
            <td title="{{ v[1] }}">{{ k }}</td><td>{{ v[0] }}</td>
          </tr>
          {% endfor %}     
        </table>
    </div>

<!--     <div style="height:92px; width:100%; border:4px; background-color:black;">
        <center><h1><font color="blue">Text Analytics</font></h1></center>
    </div> -->

    <div style="width:30%; float:left; overflow:auto; height:600px;">
        <hr>
        {{ collocations|safe}}
    </div>

    <div style="width:70%; float:right; overflow:auto; height:600px;">
        <center><img src="{{ url_for('static',filename='dispersion.png') }}"></center>
    </div>

<script>
  var w = 2000,
    h = 2000,
    fill = d3.scale.category20();

  var vis = d3.select("#chart")
    .append("svg:svg")
      .attr("width", w)
      .attr("height", h);

  // d3.json("force.json", function(json) {
    // d3.json("{{ url_for('static',filename='%s_graph.json' % user.screen_name) }}", function(json) {
    d3.json("{{ url_for('static',filename='all_graph.json') }}", function(json) {
    var force = d3.layout.force()
      .charge(-120)
      .linkDistance(30)
      .nodes(json.nodes)
      .links(json.links)
      .size([w, h])
      .start();

  var link = vis.selectAll("line.link")
      .data(json.links)
    .enter().append("svg:line")
      .attr("class", "link")
    // .style("stroke-width", function(d) { return Math.sqrt(d.weight); })
    .style("stroke-width", function(d) { return d.weight; })
    .attr("x1", function(d) { return d.source.x; })
    .attr("y1", function(d) { return d.source.y; })
    .attr("x2", function(d) { return d.target.x; })
    .attr("y2", function(d) { return d.target.y; });

  var node = vis.selectAll("circle.node")
      .data(json.nodes)
    .enter().append("svg:circle")
      .attr("class", "node")
      .attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; })
      .attr("r", function(d) {return d.size;})
      .style("fill", function(d) { return fill(d.node_color); })
      .call(force.drag);

  node.append("svg:title")
    .text(function(d) { return d.screen_name; });

  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.screen_name });

  vis.style("opacity", 1e-6)
    .transition()
      .duration(1000)
    .style("opacity", 1);


  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });
    node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
    });
  });
// );
</script>
    </body>
</html>
